:root {
  --black: rgba(13, 14, 13, 1);
  --blue-00: rgba(213, 246, 229, 1);
  --blue-10: rgba(234, 251, 242, 1);
  --blue-dark: rgba(188, 217, 202, 1);
  --blue-subtle: rgba(245, 253, 249, 1);
  --button-semibold-14px-lato-font-family: "Lato", Helvetica;
  --button-semibold-14px-lato-font-size: 14px;
  --button-semibold-14px-lato-font-style: normal;
  --button-semibold-14px-lato-font-weight: 600;
  --button-semibold-14px-lato-letter-spacing: 0.14px;
  --button-semibold-14px-lato-line-height: 100%;
  --button-small-semibold-12px-lato-font-family: "Lato", Helvetica;
  --button-small-semibold-12px-lato-font-size: 12px;
  --button-small-semibold-12px-lato-font-style: normal;
  --button-small-semibold-12px-lato-font-weight: 500;
  --button-small-semibold-12px-lato-letter-spacing: 0.12px;
  --button-small-semibold-12px-lato-line-height: 110.00000238418579%;
  --display-4-bold-24px-lato-font-family: "Lato", Helvetica;
  --display-4-bold-24px-lato-font-size: 24px;
  --display-4-bold-24px-lato-font-style: normal;
  --display-4-bold-24px-lato-font-weight: 700;
  --display-4-bold-24px-lato-letter-spacing: 0.48px;
  --display-4-bold-24px-lato-line-height: 110.00000238418579%;
  --gray-10: rgba(110, 110, 110, 1);
  --gray-20: rgba(164, 165, 165, 1);
  --gray-bg: rgba(248, 248, 248, 1);
  --gray-line: rgba(231, 231, 231, 1);
  --lime-00: rgba(231, 246, 142, 1);
  --lime-10: rgba(243, 251, 199, 1);
  --lime-dark: rgba(204, 217, 126, 1);
  --red: rgba(253, 66, 66, 1);
  --small-bold-14px-lato-font-family: "Lato", Helvetica;
  --small-bold-14px-lato-font-size: 14px;
  --small-bold-14px-lato-font-style: normal;
  --small-bold-14px-lato-font-weight: 700;
  --small-bold-14px-lato-letter-spacing: 0px;
  --small-bold-14px-lato-line-height: 139.9999976158142%;
  --small-regular-14px-lato-font-family: "Lato", Helvetica;
  --small-regular-14px-lato-font-size: 14px;
  --small-regular-14px-lato-font-style: normal;
  --small-regular-14px-lato-font-weight: 400;
  --small-regular-14px-lato-letter-spacing: 0px;
  --small-regular-14px-lato-line-height: 139.9999976158142%;
  --title-1-bold-22px-lato-font-family: "Lato", Helvetica;
  --title-1-bold-22px-lato-font-size: 22px;
  --title-1-bold-22px-lato-font-style: normal;
  --title-1-bold-22px-lato-font-weight: 700;
  --title-1-bold-22px-lato-letter-spacing: 0px;
  --title-1-bold-22px-lato-line-height: 120.00000476837158%;
  --title-4-medium-16px-lato-font-family: "Lato", Helvetica;
  --title-4-medium-16px-lato-font-size: 16px;
  --title-4-medium-16px-lato-font-style: normal;
  --title-4-medium-16px-lato-font-weight: 500;
  --title-4-medium-16px-lato-letter-spacing: 0px;
  --title-4-medium-16px-lato-line-height: 125%;
  --white: rgba(255, 255, 255, 1);
  --xsmall-alt-11px-lato-font-family: "Lato", Helvetica;
  --xsmall-alt-11px-lato-font-size: 11px;
  --xsmall-alt-11px-lato-font-style: normal;
  --xsmall-alt-11px-lato-font-weight: 400;
  --xsmall-alt-11px-lato-letter-spacing: 0px;
  --xsmall-alt-11px-lato-line-height: 139.9999976158142%;
  --xsmall-medium-12px-lato-font-family: "Lato", Helvetica;
  --xsmall-medium-12px-lato-font-size: 12px;
  --xsmall-medium-12px-lato-font-style: normal;
  --xsmall-medium-12px-lato-font-weight: 500;
  --xsmall-medium-12px-lato-letter-spacing: 0px;
  --xsmall-medium-12px-lato-line-height: 139.9999976158142%;
  --xsmall-regular-12px-figtree-font-family: "Figtree", Helvetica;
  --xsmall-regular-12px-figtree-font-size: 12px;
  --xsmall-regular-12px-figtree-font-style: normal;
  --xsmall-regular-12px-figtree-font-weight: 400;
  --xsmall-regular-12px-figtree-letter-spacing: 0px;
  --xsmall-regular-12px-figtree-line-height: 139.9999976158142%;
  --xsmall-regular-12px-lato-font-family: "Lato", Helvetica;
  --xsmall-regular-12px-lato-font-size: 12px;
  --xsmall-regular-12px-lato-font-style: normal;
  --xsmall-regular-12px-lato-font-weight: 400;
  --xsmall-regular-12px-lato-letter-spacing: 0px;
  --xsmall-regular-12px-lato-line-height: 139.9999976158142%;
  --xsmall-semibold-12px-lato-font-family: "Lato", Helvetica;
  --xsmall-semibold-12px-lato-font-size: 12px;
  --xsmall-semibold-12px-lato-font-style: normal;
  --xsmall-semibold-12px-lato-font-weight: 600;
  --xsmall-semibold-12px-lato-letter-spacing: 0px;
  --xsmall-semibold-12px-lato-line-height: 139.9999976158142%;
  --xxsmall-alt-9px-lato-font-family: "Lato", Helvetica;
  --xxsmall-alt-9px-lato-font-size: 9px;
  --xxsmall-alt-9px-lato-font-style: normal;
  --xxsmall-alt-9px-lato-font-weight: 400;
  --xxsmall-alt-9px-lato-letter-spacing: 0px;
  --xxsmall-alt-9px-lato-line-height: 139.9999976158142%;
  --xxsmall-regular-10px-lato-font-family: "Lato", Helvetica;
  --xxsmall-regular-10px-lato-font-size: 10px;
  --xxsmall-regular-10px-lato-font-style: normal;
  --xxsmall-regular-10px-lato-font-weight: 400;
  --xxsmall-regular-10px-lato-letter-spacing: 0px;
  --xxsmall-regular-10px-lato-line-height: 139.9999976158142%;
  --xxsmall-semibold-10px-lato-font-family: "Lato", Helvetica;
  --xxsmall-semibold-10px-lato-font-size: 10px;
  --xxsmall-semibold-10px-lato-font-style: normal;
  --xxsmall-semibold-10px-lato-font-weight: 600;
  --xxsmall-semibold-10px-lato-letter-spacing: 0px;
  --xxsmall-semibold-10px-lato-line-height: 139.9999976158142%;
  --xxxsmall-regular-8px-lato-font-family: "Lato", Helvetica;
  --xxxsmall-regular-8px-lato-font-size: 8px;
  --xxxsmall-regular-8px-lato-font-style: normal;
  --xxxsmall-regular-8px-lato-font-weight: 400;
  --xxxsmall-regular-8px-lato-letter-spacing: 0.08px;
  --xxxsmall-regular-8px-lato-line-height: 150%;
}
